<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Another awesome Statamic site">
    <title>{{ title or site_title }}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ theme:css }}">
    <script src="https://use.typekit.net/tsv5tjb.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>


<body class="body">

<header class="header">
    <nav class="nav header-nav-wrap">
        <div class="container">
            <div class="nav-left">
                <h1 class="title tk-gineso" style="font-weight: 700;">CEIBA WEB DEVELOPMENT</h1>
            </div>
        </div>
    </nav>
</header>

    {{ partial src="components/hero-slider" }}

    {{ partial src="components/hero-cta" }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{{ theme:js }}"></script>

</body>

</html>
