.main-header {
  top: 0;
  left: 0;
  height: 3.75em;
  width: 100%;
  border-bottom: 1px solid #95989A;
  content: "";
}

.main-header--nav {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  span {
    font-size: 3em;
    color: #2ca58d;
  }
}

.topical-header {
  height: 3.25em;
}

.topical-header--nav {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.topical-header--nav-item {
  flex-grow: 1; 
  text-align: center;
  font-family: "omnes-pro";
  display: flex;
  justify-content: center;
  align-items: center;
}

.topical-header--nav-item-title {
  text-decoration: none;
  color: white;
}